.placeholder {
    color: var(--basic-grey);
}

.main {
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 8px 16px;

    background-color: #ffffff;

    border: 1px solid var(--basic-grey);
    border-radius: 5px;
}

.selectText {
    color: #565656;
}

.values {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #ffffff;

    border: 1px solid var(--basic-grey);
    border-radius: 5px;
}

.value {
    padding: 8px 16px;
    cursor: pointer;
    color: #565656;
}

.value:not(:last-child) {
    border-bottom: 1px solid var(--basic-grey);
}
